body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  color: black;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(38, 110, 55, 0.612);
  padding: 20px;
  font-family: arial;
}

p {
  color: grey;
  font-size: 22px;
}
p h2 {
  color: grey;
  font-size: 22px;
}

/* .card button {
  border: none;

  padding: 12px;
  color: white;
  background-color: rgb(126, 168, 197);
  
 

  font-size: 18px;
} */

.card button:hover {
  opacity: 0.9;
}
.search {
  margin: 15px;
}
.search-text {
  margin-right: 10px;
}
button {
  display: flex;
  align-items: flex-end;
}
